.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: white;
  width: 50%;
  height: 22%;
}

.title {
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px;
  background-color: blueviolet;
  color: white;
  margin: 0;
}

.projection {
  padding: 10px;
}
